<div class="background">

  <h2 class="text">TyreConnect</h2>

  <form [formGroup]="subtextForm" (ngSubmit)="onSubmit()">

    <div class="inputs">
      <table class="inputs-table">
        <tr>
            <td class="input-row text">Enter Text:</td>
            <td class="input-row"><input id="text" type="text" formControlName="text" (ngModelChange)="onChange()"></td>
        </tr>
        <tr>
            <td class="input-row text">Enter Subtext to Match:</td>
            <td class="input-row"><input id="subtext" type="text" formControlName="subtext" (ngModelChange)="onChange()"></td>
        </tr>
      </table>
    </div>
    
    
    <button class="match-button" type="submit">Match</button>
  
  </form>

  <div *ngIf="gotData" class="result">
    <label>{{indexes.length}} Match<span *ngIf="indexes.length > 1">es</span> Found!</label><br>
    <label>Text: {{text}}</label><br>
    <label>Subtext: {{subtext}}</label><br>
    <label>Indexes: {{indexes}}</label>
  </div>

  <div *ngIf="gotError" class="error">
    Error! {{errMessage}}
  </div>

  <div *ngIf="noMatches" class="error">
    No Matches Found :(
  </div>
</div>

